<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoCompleteMenu-ScintillaNET" version="1.6.1" targetFramework="net461" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="3.4.0" targetFramework="net461" />
  <package id="gong-wpf-dragdrop" version="1.1.0" targetFramework="net461" />
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net461" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="OscGui" version="1.0.33" targetFramework="net461" />
  <package id="OscTree" version="1.0.25" targetFramework="net461" />
  <package id="rda.SocketsForPCL" version="2.0.2" targetFramework="net461" />
  <package id="shortid" version="2.0.0" targetFramework="net461" />
  <package id="SkiaSharp" version="1.60.2" targetFramework="net461" />
  <package id="SkiaSharp.Extended.Iconify" version="1.60.0" targetFramework="net461" />
  <package id="SkiaSharp.Extended.Iconify.MaterialDesignIcons" version="2.0.0" targetFramework="net461" />
  <package id="SkiaSharp.Views" version="1.60.2" targetFramework="net461" />
  <package id="YapView" version="1.0.11" targetFramework="net461" />
  <package id="yGuiWPF" version="1.0.11" targetFramework="net461" />
  <package id="YSE.NET.PCL" version="1.0.42" targetFramework="net461" />
  <package id="Yse.NET.Standard" version="1.0.76" targetFramework="net461" />
</packages>